@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind-based global styles */
body {
  @apply bg-white ; /* Default light mode styles */
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.dark body {
  @apply bg-gray-900; /* Dark mode styles */
}
d
ul li a.active {
  background-color: #2b3440;
  color: #2A68FF;
}
.dropdown-content li a.active{
  background-color: #2A68FF !important;
  color: #fff;

}


.custom-tooltip{
  background:#2F234F !important;
}


.react-tabs__tab {
  
  padding: 0 50px;
 
  color: #2A68FF;
  font-weight: 600;
font-size: 20px;
}


